<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home/style.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% block body %}
    {% endblock %}
</body>

</html>