{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}
<header>
    <h1>Calcula a quantidade de tinta</h1>
    <h4>Os resultados são valores aproximados</h4>
</header>
<main>
    <form action="/" method="post">
        {% for i in range(1, 5) %}
        <fieldset>
            <legend>
                <h3>Parede {{ i }}</h3>
            </legend>
            <input type="number" step="any" name="height_{{ i }}" placeholder="Altura em metros" autofocus required>
            <input type="number" step="any" name="width_{{ i }}" placeholder="Largura em metros" required>
            <input type="number" name="por_quant_{{ i }}" placeholder="Quantidade porta" required>
            <input type="number" name="win_quant_{{ i }}" placeholder="Quantidade janela" required>
        </fieldset>
        <br>
        {% endfor %}
        <button type="submit">Calcular</button>
        <button type="reset">Limpar</button>
    </form>
    <br>
    {% for message in get_flashed_messages() %}
    <h3>{{ message }}</h3>
    {% endfor %}
    {% if tins %}
    <table border="1">
        <tr>
            <th>Lata/litro</th>
            <th>Quantidade</th>
        </tr>
        {% for key, value in tins.items() %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</main>
{% endblock %}