header {
    margin: 1em;
}

h1, h3, h4 {
    text-align: center;
}

form {
    text-align: center;
}

fieldset {
    width: fit-content;
    margin: auto;
    padding: 1em;
}

input {
    padding: 0.5em;
}

button {
    padding: 0.5em;
}

table {
    margin: auto;
}

th, td {
    padding: 0.5em;
    text-align: center;
}